.table .chosen-container {
   width: 100% !important;
}
.box-validation {
   background: #FFFEFE; 
   border:1px solid #D6CFCF;
   border-bottom: none;
   padding: 5px 7px 5px 20px;
   font-size: 12px;
}
td .box-validation:last-child {
   border-bottom:1px solid #D6CFCF;
}
.box-validation .delete {
   color: #FD0A0A;
   float: right;
   padding: 5px 0px 5px 5px;
   cursor: pointer;
   margin-top: -5px;
}
.box-validation input {
   border:none;
   border-bottom: 1px dashed #727272;
   padding-left: 2px;
   margin-left: 4px;
   width:100px;
}
.box-validation .validation-name {
   width: 100px !important;
   float: left;
   font-weight: normal;
}
.box-validation .validation-name-max {
   float: left;
   font-weight: normal;
}
.dragable {
   cursor: move;
}
.floatThead-container {
  -moz-animation:all 0.2s;
}

table .table-striped tbody tr:nth-child(odd) td {
   background:#fff !important
}

table .chosen-container:focus, table .chosen-container-single:focus, table .chosen-singel  {
  border-color: #DBDBDB !important;
}

#diagnosis_list .target-area {
  background: #DFEFFC;
  border:0px !important;
}

table label {
  font-weight: normal;
}

/*custom option*/


.box-custom-option {
   background: #FFFEFE; 
   border:1px solid #D6CFCF;
   border-bottom: none;
   padding: 5px 7px 5px 20px;
   font-size: 12px;
}
td .box-custom-option:last-child {
   border-bottom:1px solid #D6CFCF;
}
.box-custom-option .delete {
   color: #FD0A0A;
   float: right;
   padding: 5px 0px 5px 5px;
   cursor: pointer;
   margin-top: -5px;
}
.box-custom-option input {
   border:none;
   border-bottom: 1px dashed  #727272;
   padding-left: 2px;
   margin-left: 4px;
   width:200px;
}
.box-custom-option .validation-name {
   width: 100px !important;
   float: left;
   font-weight: normal;
}
.box-custom-option .validation-name-max {
   float: left;
   font-weight: normal;
}

td .custom-option-item:first-child .delete-option{
  display: none;
}

td .ignore-first-child .custom-option-item:first-child .delete-option{
  display: block !important;
}

.box-custom-option.box-bottom{
  border-top-color: #fff !important;
}

.custom-option-item .delete-option {
   color: #FD0A0A;
   float: right;
   padding: 5px 0px 10px 5px;
   cursor: pointer;
   margin-top: -45px;
   padding-right: 5px;
   margin-right: 1px;
   background: #fff;
}

.custom-option-container {
  margin-top: 10px;
}

.preview {
  -moz-transition:all 0.5s;
  border: 0px !important;
  width: 80%;
  display: none;
}
.preview .field-name-preview {
  width: 12% !important;
  margin-left: 50px;
  text-align: right;
  font-weight: bold;
  padding-right: 40px;
}
.preview .form-type-preview {
  width:50% !important;
}
.preview td {
  background: #fff !important;
  border: none !important
}

.preview-form {
  margin-bottom: 50px;
}

.input-field-name {
  border: 0px;
  background: none;
}


/*collapse options*/
.btn-collapse-option {
   font-size: 9px; 
   position: absolute;
   margin-left: -15px;
   margin-top: 40px;
   cursor: pointer;
   font-weight: normal;
   color: #797474;
}

.custom-option-container .option-count {
  font-size: 10px;
  margin-top: -10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}


.table-form tr td .delete-item {
  opacity: 0;
  -moz-transition:all 0.2s;
  transition: all 0.2s;
  cursor: pointer;

}

.table-form tr:hover .delete-item {
  opacity: 100;
}

li:first-child:nth-last-child(1) {
    width: 100%;
}

.toolbox-form .hide-preview {
  display: none;
}

.table-form .hide-designer {
  display: none;
}

.toolbox-form {
  overflow: none !important;
}

.overflow-none {
  overflow: none !important;
}

.toolbox-form table {
  width: 100% !important;
}

#form_form .ui-state-highlight td {
 background: #DFEFFC;
}

#tools tr td {
  border-top: 1px solid #838282;
  background: #FFFFFF;
}
#tools tr td.hide-designer:first-child {
  border-right:none !important;
}

/*icon form builder */


@font-face {
  font-family: 'form-builder-font';
  src: url('../fontello/font/form-builder-font.eot?66696382');
  src: url('../fontello/font/form-builder-font.eot?66696382#iefix') format('embedded-opentype'),
       url('../fontello/font/form-builder-font.woff?66696382') format('woff'),
       url('../fontello/font/form-builder-font.ttf?66696382') format('truetype'),
       url('../fontello/font/form-builder-font.svg?66696382#form-builder-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

.demo-icon
{
  font-family: "form-builder-font";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
 
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


/*box setting*/

.box-setting #input_type_chosen *:not(.chosen-drop){
  border: none !important;
}

.box-setting .chosen-container {
  margin-bottom: 0px !important;
}
.btn-collapse-setting {
   font-size: 9px; 
   cursor: pointer;
   font-weight: normal;
   color: #797474;
   float: right;
   margin-top: 5px;
   margin-right: 5px;
}

.box-setting {
   background: #FFFEFE; 
   border:1px solid #D6CFCF;
   border-bottom: none;
   padding: 5px 7px 5px 20px;
   font-size: 12px;
}

.box-setting label {
  width: 90%;
}
td .box-setting:last-child, td .box-setting.active-border{
   border-bottom:1px solid #D6CFCF;
}

.box-setting .delete {
   color: #FD0A0A;
   float: right;
   padding: 5px 0px 5px 5px;
   cursor: pointer;
   margin-top: -5px;
}
.box-setting input.input_setting {
   border:none;
   border-bottom: 1px dashed #DADADA;
   width:100% ;
   color: #7A7A7A
}

.box-setting .custom-option-container {
  padding-right: 10px;
}

.box-setting .btn-collapse-attributes {
  position: relative;
  font-size: 9px; 
  cursor: pointer;
  font-weight: normal;
  color: #797474;
}

.box-setting label {
   padding-left: 0px !important;
}

.box-setting .custom-option-item input {
   border:none;
   border-bottom: 1px dashed #DADADA;
   width:130px ;
   color: #7A7A7A
}
.box-setting .validation-name {
   width: 100px !important;
   float: left;
   font-weight: normal;
}
.box-setting .validation-name-max {
   float: left;
   font-weight: normal;
}

/*captcha*/
.captcha-box {
  border: 1px solid rgb(214, 207, 207);
  height: 40px;
  width: 370px;
}
.captcha-box input {
  border:none;
  padding-left: 5px;
  height: 100%;
}

.captcha-box .btn {
  float: right;
}

.captcha-box #image-captcha {
  height: 100% !important;
  float: right;
}


/*easyng effect sortable*/
/*
  table { float:left; margin-right:20px; }
  table { width:512px; overflow:hidden; border-radius:6px; }
  tr { display:block; position:relative; padding:12px 6px; z-index:1; }
  tr:after { background:#18629D; display:block; position:absolute; height:100%; width:100%; top:0px; left:0px; content:' '; border-radius:6px; z-index:-1; }
  tr { -moz-transition:border-top-width 0.1s ease-in; -webkit-transition:border-top-width 0.1s ease-in; border-top:0px solid rgba(0,0,0,0); }
  .marker { opacity:0.0; }*/